<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href = "{{ url_for('static', filename='styles.css') }}">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="//apis.google.com/js/platform.js?onload=start"></script>
</head>

<body>
<div class="header">
 <button class="btn"><a class="fa fa-home" href="/catalog"></a></button>
<h2>THE CATALOG APP</h2>
</div>
<div class="sidenav">
<h>CATEGORIES</h>
{% for i in categories %}
<a href="/catalog/{{i.id}}/ItemsList"><ul><li>{{i.name}}</li></ul></a>
{% endfor %}
</div>
<div class="main">
 {%if 'username' in session %}
 <a id = "AddItem" style="font-weight: bold;text-align: left;padding: 15px 15px 15px 15px;" href="/catalog/new"> <u>Add Items</u></a>
 {% endif %}
 <h style="padding: 15px 15px 15px 15px"><i>Item List</i></h>
 {% for i in items %}
 <a href="/catalog/{{i.id}}/ItemDetails"><ul style="list-style-type:square;"><li>{{i.name}}</li></ul></a>
 {% endfor %}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flash">
      {% for message in messages %}
      <h2 style="color:red">{{message}}</h2>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
 </div>
{%if 'username' in session %}
<div id = "signoutButton"><a class="button" href="{{url_for('gdisconnect')}}">Logout </a>
</div>
{% else %}
<div id="signinButton">
   <span class="g-signin"
            data-scope="openid email"
            data-clientid="183588713013-bouighqfskej7vkt0df73905np0agjed.apps.googleusercontent.com"
            data-redirecturi="postmessage"
            data-accesstype="offline"
            data-cookiepolicy="single_host_origin"
            data-callback="signInCallback"
            data-approvalprompt="force">
    </span>
</div>
{% endif %}

<script>
function signInCallback(authResult) {
  if (authResult['code']) {
    login = true;
    // Hide the sign-in button now that the user is authorized
    $('#signinButton').attr('style', 'display: none');
    // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
    $.ajax({
      type: 'POST',
      url: '/gconnect?state={{STATE}}',
      processData: false,
      data: authResult['code'],
      contentType: 'application/octet-stream; charset=utf-8',
      success: function(result) {
        // Handle or verify the server response if necessary.
        if (result) {
          $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
           window.location.href = "/catalog";
        
          
      } else if (authResult['error']) {
    console.log('There was an error: ' + authResult['error']);
  } else {
        $('#result').html('Failed to make a server-side call. Check your configuration and console.');
         }
      }
      
  }); } }
</script>
</body>

</html>